@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo {
  background-color: #fff;
  background-size: 100%;
  background-clip: auto;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}


.navbar__links {
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar__links:hover {
        color: gold;
        transition: all 0.3s ease;
}



/*Hero*/
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}
.hero__image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/login.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__heading {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover {
  border-radius: 6px;
  border-style: solid;
}
/*Rules*/


.rules {
   
    
    height: 100%;
    width: 100%;
    
    
}
.distance {
    background: #fff;
    background-image:url(../img/distance.jpg);
    background-position:right;
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    background-size:50%;
    padding:60px;
   
    
    
}


.distance-right h1 {
        color: black;
        font-size: 2rem;
        font-style: italic;
        text-align: left;
        margin: 30px 50px 30px 10px;
        padding:inherit;
    }

.distance-right p {
        border: 10px solid gold;
        padding: 70px;
        width: 40%;
        height: 400px;
        text-align: justify;
        position: relative;
        left: 5%;
        font-style: italic;
        font-size:1.2rem;
        display: flex;
        margin:20px;
        color:#131313;
        font:bold;
    }

.section-two{
    
   
}
.volume {
    height: 100%;
    width: 100%;
    padding: 60px;
    display:flex;
    box-sizing:border-box;
    
}

.volume-right h1 {
    color: black;
    font-size: 2rem;
    font-style: italic;
    text-align: left;
    margin: 30px 50px 30px 5px;
   
}
.volume-info {
    border: 10px solid gold;
}
.volume-info p, table {
    
    padding: 20px;
    width: 60%;
    height: 200px;
    text-align: center;
    position:relative;
    left:20%;
    font-style: italic;
    font-size: 1.2rem;
    margin: 30px;
    color: #131313;
    font: bold;
}


.piano {
    background: url(../img/piano7.jpg);
    background-color:#fff;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 300px;
    height: 100%;
    width: 80%;
    background-position: center;
}
.piano h1 {
        color: #fff;
        font-size: 2rem;
        font-style: italic;
        position:relative;
        right:30%;
        
}
.piano p {
        color: black;
        font-size: 1.2rem;
        position:relative;
        left:60%;
        border-bottom:10px solid gold;
       
        
        
        
}

/*Register form*/
.row {
  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: space-around;
}

.col-1 {
  flex-basis: 50%;

  min-width: 300px;
}

.form-box {
  width: 500px;
  height: 500px;
  position: relative;
  top: 100px;
  left: 100px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
}

.main-heading {
  color: gold;
  padding-bottom: 20px;
}

.form {
  position: relative;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
}

.form input {
  font-family: sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0 0 15px;
  padding: 5px;
  font-size: 14px;
}

.form button {
  font-family: sans-serif;
  width: 100%;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background: gold;
}

.form .message {
  font-size: 16px;
  margin: 15px 0 0;
  color: white;
}

.form .message a {
  color: gold;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.defination {
  text-align: left;
  font-size: 30px;
  color: white;
  font-family: "Kaushan Script", cursive;
  padding-left: 60px;
}
/*Section Inquery Form*/
.order-form {
    position: relative;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
}
.order.order-form h1{
    font-size:10px;
}
.order-form input {
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 10px 0 15px;
    padding: 10px;
    font-size: 14px;
    
}
.form-element{
   margin: 0px 100px 0px 80px;

}

.order-form button {
        font-family: sans-serif;
        width: 40%;
        color: black;
        font-size: 14px;
        cursor: pointer;
        padding: 15px;
        border: none;
        background: gold;
}
.order-form button:hover {
    background-color:gray;
}
/*Modal INQUERY*/
.modal-header{
    text-align:center;
    color:gold;
}
.modal-body {
    text-align:center;
    
}
/*My Orders*/
.table-orders {
  

    border:2px solid black;
    position:center;
   
}
.table-orders tr, th
{
    border-bottom: 1px solid black;
    text-align:center;
}
th {
    background-color:gold;
}
tr:hover {
    background-color: gold;
}
/*Footer section*/

.footer__container {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px 19px;
    
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}
.footer__link--items h2 {
  margin-bottom: 16px;
  color: gold;
}
.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer__link--items a:hover {
  color: gold;
  transition: 0.3 ease-out;
}
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}
.social__media a:hover {
  color: gold;
  transition: 0.3 ease-out;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  height: 10vh;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  outline: gold;
}

.website__rights {
  color: #fff;
}


